<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ViewController1</string>
	<string>ViewController2</string>
	<string>ViewController3</string>
	<string>ViewController4</string>
	<string>ViewController5</string>
	<string>ViewController6</string>
	<string>ViewController7</string>
</array>
</plist>
